<template>

    <div id="content" class="content">
        <!--Banner Inner-->
        <section>
            <div class="lgx-banner lgx-banner-inner">
                <div class="lgx-page-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="lgx-heading-area">
                                    <div class="lgx-heading lgx-heading-white">
                                        <h2 class="heading">About Consultants</h2>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                        <li class="active">About Consultants</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--//.ROW-->
                    </div><!-- //.CONTAINER -->
                </div><!-- //.INNER -->
            </div>
        </section> <!--//.Banner Inner-->


        <main>
            <div class="lgx-page-wrapper lgx-page-wrapper-none">
                <!--ABOUT-->
                <section>
                    <div id="lgx-about" class="lgx-about">
                        <div class="lgx-inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <div class="lgx-about-img">
                                            <img :src="'/storage/about.jpg'">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7">
                                        <div class="lgx-heading lgx-heading-gap-xs">  <!--lgx-heading-white-->
                                            <h3 class="pretitle">World Best Famous Medical</h3>
                                            <h2 class="heading">In Search Of A Good And <span>Quality</span> Medical Hospital ?</h2>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text">
                                                Bring to the table win-win survival strategies to ensure proactive domination. that domination. At the end of the day, going he is forward, a new normal that has evo Bring to the table win-win survival are strategies to ensure proactive domination. domination. At the end of the day, end going forward, a new normal that has evo the end of the day, going forward, auest new normal that has evolved from hase domination. At the end of the day, going forward, auest new normal that has evo Bring to the table win-win survival strategies to are ensure proactive domination. the end of the day, going forward, auest new normal that has evolved from are At the end of the day, going forward, a new normal that has evolved from generation X is on the runway.
                                            </p>
                                            <p>Bring to the table win-win survival strategies to ensure proactive domination. that domination. At the end of the day, going he is forward, a new normal that has evo Bring to the table win-win survival are strategies to ensure</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //.CONTAINER -->
                        </div><!-- //.INNER -->
                    </div>
                </section>
                <!--ABOUT END-->
                <!--TEAM-->



            </div>
        </main>
    </div>



</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted About page.')
        }
    }
</script>
