<template>

 <div id="content" class="content">
   <section>
        <div class="lgx-slider"> <!--lgx-slider-content -->
            <div class="lgx-banner-style">
                <div class="lgx-inner">
                    <div id="lgx-main-slider" class="owl-carousel">
                        <!--SLIDER ITEM 1-->
                        <div class="lgx-item-common">
                            <div class="slider-text-single">
                                <figure>
                                    <img style="width: 100%;height: auto;" :src="'storage/users/assets/img/slider1.jpg'"  alt="slide"/>
                                    <figcaption>
                                        <div class="lgx-container">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">

                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!--SLIDER ITEM 1 End-->

                        <!--SLIDER ITEM 2-->
                        <div class="lgx-item-common">
                            <div class="slider-text-single">
                                <figure>
                                    <img style="width: 100%;height: auto;" :src="'storage/users/assets/img/slider2.jpg'" alt="slide"/>
                                    <figcaption>
                                        
                                        <div class="lgx-container">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">

                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!--SLIDER ITEM 2 End-->

                        <!--SLIDER ITEM 3-->
                        <div class="lgx-item-common">
                            <div class="slider-text-single">
                                <figure>
                                    <img style="width: 100%;height: auto;" :src="'storage/users/assets/img/slider3.jpg'" alt="slide"/>
                                    <figcaption>
                                        <div class="lgx-container">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">

                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!--SLIDER ITEM 3 End-->

                    </div> <!--//.lgx-main-slider-->


                    <!-- //.CONTAINER -->
                </div>
                <!-- //.INNER -->
            </div>
        </div>
    </section>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted Home page.')
        }
    }
</script>
